<h1>Terms of Service</h1>

<p>Welcome to Portal Pertanian Terintegrasi.</p>

<h2>1. Acceptance of Terms</h2>

<p>By accessing or using our services, you agree to be bound by these Terms of Service. If you do not agree to these terms, please do not use our services.</p>

<h2>2. Description of Services</h2>

<p>Portal Pertanian Terintegrasi provides information and services related to agriculture, including but not limited to:</p>

<ol>
    <li>
        <p><strong>Farming Information:</strong> We offer agricultural information, tips, and best practices to help farmers improve their farming techniques.</p>
    </li>
    <li>
        <p><strong>Seeds Production Information:</strong> We provide data and insights on seeds production, quality, and recommendations.</p>
    </li>
    <li>
        <p><strong>Weather Information:</strong> Our app offers weather forecasts and data to assist farmers in making informed decisions.</p>
</ol>

<h2>3. Use of Services</h2>

<p>You agree to use our services solely for agricultural and farming purposes. You are prohibited from using our services for any unlawful or harmful activities. We reserve the right to terminate access to our services for any user who violates these terms.</p>

<h2>4. Disclaimer</h2>

<p>The information provided in our services is for informational purposes only. We do not guarantee the accuracy or reliability of the information. Users are encouraged to verify and cross-check information before making decisions based on it.</p>

<h2>5. Privacy</h2>

<p>Our Privacy Policy governs the collection and use of user information. Please review our Privacy Policy for more details on how we handle your data.</p>

<h2>6. Changes to Terms</h2>

<p>We may modify these Terms of Service at any time. Users will be notified of any substantial changes. Continued use of our services after such modifications will constitute your acceptance of the new terms.</p>

<h2>7. Contact Us</h2>

<p>If you have any questions or concerns about our services or these Terms of Service, please contact us at ais@pertanian.go.id</p>
