.gf_log_label {
    text-align: center;
}

.gf_google_panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gf_google_label {
    margin-left: 5px;
}

.login-card .login-main .theme-form p {
    margin-bottom: 10px;
}