<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Rekap Produsen</h4>
            <div class="card-options">
                <a class="card-options-collapse" href="javascript:void(0)" data-bs-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a class="card-options-remove" href="javascript:void(0)" data-bs-toggle="card-remove">
                    <i class="fe fe-x"></i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive edit-table">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Provinsi</th>
                            <th>Kabupaten/Kota</th>
                            <th>Kecamatan</th>
                            <th>Kelurahan</th>
                            <th>Username</th>
                            <th>ID SIMLUH</th>
                            <th>Nomor Registrasi</th>
                            <th>Tipe Produsen</th>
                            <th>Nama</th>
                            <th>Nama Pimpinan</th>
                            <th>Alamat Pimpinan</th>
                            <th>Alamat Produsen</th>
                            <th>Telepon</th>
                            <th>Email</th>
                            <th>Benih</th>
                            <th>Total Luas Lahan</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Dicatat</th>
                            <th>Diperbarui</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{ item.PROVINSI }}</td>
                                <td>{{ item.KABUPATENKOTA }}</td>
                                <td>{{ item.KECAMATAN }}</td>
                                <td>{{ item.KELURAHAN }}</td>
                                <td>{{ item.USERNAME }}</td>
                                <td>{{ item.IDSIMLUH }}</td>
                                <td>{{ item.NOMOR_REGISTRASI }}</td>
                                <td>{{ item.TIPE_PRODUSEN }}</td>
                                <td>{{ item.NAMA }}</td>
                                <td>{{ item.NAMA_PIMPINAN }}</td>
                                <td>{{ item.ALAMAT_PIMPINAN }}</td>
                                <td>{{ item.ALAMAT_PRODUSEN }}</td>
                                <td>{{ item.TELEPON }}</td>
                                <td>{{ item.EMAIL }}</td>
                                <td>{{ item.BENIH }}</td>
                                <td>{{ item.TOTAL_LUAS_LAHAN }}</td>
                                <td>{{ item.LAT }}</td>
                                <td>{{ item.LNG }}</td>
                                <td>{{ item.DICATAT }}</td>
                                <td>{{ item.DIPERBARUI }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" [maxSize]="5" [directionLinks]="true" [autoHide]="false"></pagination-controls>
    </div>
</div>
