.mh {
    min-height: 52px;
}

.lh {
    color: #000;
    line-height: 1.2;
    margin-top: 5px;
    padding-bottom: 5px;
}

.sh:hover {
    background-color: rgb(251, 249, 230);
    border-radius: 20px;
}