<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body custom-datatable noscroll">
                    <div class="custom-datatable">
                        <h5 class="ribbon ribbon-bookmark ribbon-primary fw-bold">{{ sec1_title }}</h5>
                        <br/><hr/>
                        <div class="d-flex justify-content-between mb-3 row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button class="btn btn-primary fw-bold" style="margin-left:5px;" (click)="syncData()"><i class="fa fa-download text-white"></i> Sinkronisasi Data Baru</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
