<div class="media profile-media">
  <img class="b-r-10" width="40" src="assets/images/user/farmer_m.png" alt="">
  <div class="media-body"><span>{{ dtName }}</span>
    <p class="mb-0 font-roboto">{{ dtName }} <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div text-center">
  <li><span><i class="fa fa-clock-o"></i> Sesi: {{ remainingTime | timeAgo }}</span></li>
  <li><a (click)="logout()"><span class="text-white btn btn-sm btn-danger"><i class="fa fa-sign-out"></i> Logout</span></a></li>
</ul>